h2{
    color: white;
    font-size: 3rem;
    font-weight: normal;
}

.description{
    font-size: 1.5rem;
    line-height: 150%;
    color: white;
    text-align: justify;
}

.description a{
    color: white;
}

.sub-section{
    padding: 2rem 0;
    display: block;
}

.astronaut{
    width: 100%;
    height: 35rem;
    background-image: url('../../../assets/astronaut1.jpg');
    background-position: center;
    background-size: cover;
}

.over{
    color: white;
    font-size: 4rem;
    text-align: center;
    margin: 3rem 0;
    letter-spacing: .5rem;
}