<section>
  <h2>O projekcie</h2>
  <p class="description">
    <b>Spaceinfo</b> to aplikacja internetowa przygotowana jako projekt na 16 edycję konkursu <a href="http://www.cyborg.zst-ostrow.edu.pl/">"Cyborg"</a>, którego tematem
    jest "Świat komputerów z fizyką w tle". <b>Spaceinfo</b> ma za zadanie dostarczać ciekawe informacje na temat kosmosu i jednocześnie prezentować je w łatwy do zrozumienia
    i interesujący sposób. Na górze strony możemy zobaczyć nawigację, która przeniesie nas w wybrane miejsce.
    <span class="sub-section">
        Odnośnik "ISS" prowadzi do podstrony gdzie znajdziemy
        informacje o międzynarodowej stacji kosmicznej jej aktualną załogę oraz zaznaczony na mapie obszar nad którym ISS aktualnie przelatuje.
    </span>
    <span class="sub-section">
      Odnośnik "Starty rakiet" przeniesie nas do podstrony gdzie wypisane zostaną nadchodzące starty rakiet. Po kliknięciu na interesującą nas pozycję, dostaniemy informacje na temat: 
      lokalizacji skąd rakieta zostanie wystrzelona, agencji kosmicznej zajmującej się wystrzałem, rodzaju rakiety itp. Znajduję się tam również opis i typ misji jaką wystrzelony obiekt ma realizować.
    </span>
    <span class="sub-section">
      Odnośnik "Zdjęcia Ziemi" umożliwia nam przeglądanie zdjęć planety którą zamieszkujemy wykonanych w różnym czasie. Zdjęcia te wykonane są przez kamerę EPIC 
      znajdującą się na sondzie kosmicznej DSCOVR.
    </span>
  </p>
</section>

<div class="astronaut"></div>

<section>
  <h2>Strona techniczna projektu</h2>
  <p class="description">
    Aplikacja <b>spaceinfo</b> została napisana przy pomocy frameworka Angular 7. Wyświetlane informacje dostarczane są przez otwarte REST api które zwracają dane w formacie JSON,
    następnie aplikacja parsuje je i wyświetla w sposób przyjazny dla ludzi :) Api odpytywane jest przez aplikacje asynchronicznie (AJAX).
    <span class="sub-section">
      Otwarte API które zostały wykorzystane w projekcie: <br>
      <a href="http://open-notify.org/Open-Notify-API/">Open Notify</a> <br>
      <a href="https://api.nasa.gov/">NASA</a> <br>
      <a href="https://launchlibrary.net/docs/1.3/api.html">Launch Library</a>
    </span>
  </p>
</section>

<section>
  <h2>Przemyślenia autora</h2>
  <p class="description">
    Aplikacja powstała w dość szybkim tempie i uważam ją za naprawdę udaną. Sam przyłapałem się na tym, że gdy tylko siadałem do pracy nad nią przed napisaniem choć linijki
    kodu najpierw sprawdzałem gdzie teraz jest ISS, czytałem o misjach rakiet które mają zostać wystrzelone czy przeglądałem najświeższe zdjęcia naszej planety. Myśle więc, że
    można uznać <b>spaceinfo</b> za dobre narzędzie popularyzujące naukę o kosmosie. Czerpałem wiele przyjemności z tworzenia tego projektu a każda nowododana funkcjonalność niosła
    za sobą potężne zasoby satysfakcji. Za piękną idee uznaje również pomysł otwartych dla każdego źródeł informacji bez których <b>spaceinfo</b> nie mogło by powstać. 
    <span class="sub-section">
      Gdybyś natomiast Ty drogi czytelniku tej notatki zechciał się ze mną skontaktować to zostawiam link do swojego portfolio gdzie możesz znaleźć moje dane kontaktowe: <br>
      <a href="https://www.nieruchalski.pl/#contact">nieruchalski.pl</a>
    </span>
  </p>
</section>

<div class="over">
  OVER
</div>