h2{
    color: white;
    font-size: 3rem;
    font-weight: normal;
}

.launches-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.launches-list-container{
    width: 40%;
    height: fit-content;
    position: sticky;
    top: 0;
}

.launches-container .launches-list{
    width: 100%;
}

.launches-list{
    list-style-type: none;
    padding: 0;
    color: white;
}

.launches-list li{
    margin: 4rem 0;
    cursor: pointer;
    padding: 1.3rem;
    transition: .2s all linear;
}

.launches-list li:hover{
    background-color: white;
    color: black;
}

.launches-list li:first-child{
    margin-top: 0;
}

.launches-list .launch-name{
    font-size: 2rem;
}

.launches-list .time-start{
    font-size: 1.6rem;
    margin-top: .75rem;
}

.selected-launch-container{
    width: 55%;
    border: .1rem solid white;
    padding: 2rem;
}

.selected-launch-container h3{
    margin: 0;
    font-size: 2.5rem;
    color: white;
}

.selected-launch-container .start-time{
    color: white;
    font-size: 1.7rem;
}

.selected-launch-container section{
    padding: 2.5rem 0;
    border-top: .1rem solid white;
}

.selected-launch-container section h5{
    font-size: 2rem;
    font-weight: normal;
    color: white;
}

.selected-launch-container section h4{
    margin: 1rem 0;
    font-size: 3rem;
    color: white;
    letter-spacing: .2rem;
    font-weight: normal;
}

.rocket-image{
    width: 35rem;
    cursor: pointer;
    max-width: 100%;
}

.rocket-agencies-list{
    list-style-type: square;
    color: white;
}

.rocket-agencies-list li{
    margin: 1.5rem 0;
}

.rocket-agencies-list li a{
    color: white;
    font-size: 1.7rem;
}

.read-more{
    color: white;
    font-size: 1.7rem;
    word-break: break-all;
}

.mission-description{
    color: white;
    line-height: 150%;
    font-size: 1.8rem;
}

.pad-list {
    color: white;
    font-size: 2rem;
    list-style-type: none;
    padding: 0;
}

.pagination-btn{
    background-color: transparent;
    border: .1rem solid white;
    border-radius: .2rem;
    padding: .75rem 1.5rem;
    font-size: 2rem;
    color: white;
    text-transform: lowercase;
    letter-spacing: .2rem;
    cursor: pointer;
    transition: .2s all linear;
    margin-right: 1rem;
}

.pagination-btn:hover{
    color: #101214;
    background-color: white;
}

@media (max-width: 1000px){
    .launches-list-container{
        width: 100%;
        position: static;
    }

    .launches-list-container .launches-list{
        width: 100%;
    }

    .selected-launch-container{
        width: 100%;
        margin-top: 3rem;
    }

    .read-more{
        word-break: break-all;
    }
}