.container{
    width: 120rem;
    margin: 0 auto;
}

@media screen and (min-width: 961px) and (max-width: 1250px) {
    .container{
        width: 96rem; 
        margin: 0 auto;
    }
}

@media (max-width: 960px) {
    .container{
        width: 95%; 
        margin: 0 auto;
    }
}